* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}



.landing-container {
    background-image: url('/images/landing-background-1.svg');
    max-width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.landing-banner {
    display: flex;
    flex-direction: column;
    padding: 2em 4.5em;
    margin-right: 4em;
    background-color: #FFF3E3;
}

.landing-banner-intro {
    font-size: 18px;
    margin-bottom: 0.5em;
}

.landing-banner-heading h2 {
    color: #B88E2F;
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 0.5em;
}

.landing-banner-text p {
    font-size: 18px;
    margin-bottom: 2.2em;
}

.landing-banner-button button {
    padding: 2em 5em;
    background-color: #B88E2F;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.landing-banner-button button:hover {
   background-color: #a5802b;
   cursor: pointer;
}

.landing-banner-button button:active {
   background-color: #d3a435;
   cursor: pointer;
}