* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.landing {
  background-image: url('/images/landing-background-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;         
  display: flex;
  flex-direction: column;
}

.landing-container {
  flex: 1;               
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.landing-banner {
    display: flex;
    flex-direction: column;
    padding: 2em 4.5em;
    margin-right: 4em;
    background-color: #FFF3E3;
}

.landing-banner-intro {
    font-size: 18px;
    margin-bottom: 0.5em;
}

.landing-banner-heading h2 {
    color: #B88E2F;
    font-weight: bold;
    font-size: 38px;
    margin-bottom: 0.5em;
}

.landing-banner-text p {
    font-size: 18px;
    margin-bottom: 2.2em;
}

.landing-banner-button button {
    padding: 2em 5em;
    background-color: #B88E2F;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.landing-banner-button button:hover {
   background-color: #a5802b;
   cursor: pointer;
}

.landing-banner-button button:active {
   background-color: #d3a435;
   cursor: pointer;
}

.browse-range {
    margin-top: 3em;
}

.browse-range-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
}

.browse-range-heading h2 {
    font-weight: bold;
    font-size: 28px;
}

.browse-range-img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.5em;
    text-align: center;
}

.img-container1 p, .img-container2 p, .img-container3 p {
    margin-top: 0.5em;
    font-weight: 600;
    font-size: 18px;
}