.nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    position: sticky;
    top: 0;
    background-color: white;

}

.nav-bar-logo {
    display: flex;
}

.nav-bar-logo img {
    margin-right: 1em;
    
}

.nav-bar-logo a{
    font-weight: 600;
    font-size: 32px;
    text-decoration: none;
    color: black;
}

.nav-bar-navigation ul {
    display: flex;
}

.nav-bar-navigation li {
    list-style: none;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 18px;
}

.nav-bar-navigation a {
    text-decoration: none;
    color: black;
}

.nav-bar-icons a{
    margin-left: 2em;
    
}

.nav-bar-icons a:first-child{
    margin-left: 0;
    
}